.home {
  height: 100vh; }

.caroButtonMod {
  font-size: 18px;
  width: 300px;
  height: 100px;
  background: url(pancarte.png) no-repeat;
  border: none;
  font-family: 'Oldenburg', cursive; }

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%; }

#fiestaMod {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 3;
  grid-row: 3; }

#hotMod {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 3;
  grid-row: 3; }

.game {
  height: 100vh; }
