//test
$pink: #c6538c;
body{
margin: 0;
}
//section home
.home{
    height: 100vh;
    background-image: url(taverne.jpg);
    background-size: cover;  
}
//les boutons de selection du mod
.caroButtonMod{
        font-size: 30px;
        width: 350px;
        height: 120px;
        border: none;
        font-family: 'Oldenburg', cursive;
        &:hover{
            filter: contrast(2.5);
        }
}
//systeme de mise en place pour choix de difficulté
.wrapperModChoice{
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 1% 3% 10% 17% auto ;
    grid-template-rows: 50px 50px 50px 50px 50px 10px 10px 25px 25px 25px 25px  10px 10px  25px 25px auto;
    // justify-items: center;
}
#fiestaMod{
    grid-column: 6;
    grid-row: 7;
    color: rgb(255, 255, 255);
    background: url(pancarte1.png);
    background-size: contain;
    
}
#hotMod{
    grid-column: 6;
    grid-row: 12;
    color: rgb(255, 255, 255);
    background: url(pancarte2.png);
    background-size: contain; 
}
//liste nom joueurs
.playerList{
    grid-column: 12;
    grid-row: 7;
    color: white;
    font-size: 1.2em;
    font-family: 'Oldenburg', cursive;
    font-weight: bold;
    padding-bottom: 300px;
}
//systeme de grid pour entrer nom joueur
.wrapperPlayers{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px 100px 100px 100px 100px;
    justify-items: center;
}
#formPlayerName{
    grid-column: 2;
    grid-row: 2;
}
#enterPlayer{
    height: 50px;
    width: 300px;
    background-color: rgb(27, 27, 27);
    color: white;
    font-size:1.5rem ;
    text-align: center;
}
::placeholder{
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
#submit{
    font-size: 30px;
    width: 180px;
    height: 60px;
    background: url(pancarte1.png);
    background-size: contain;
    border: none;
    font-family: 'Oldenburg', cursive;
}

//section game
.game{
    height: 100vh;
}